@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Pet Focus an app meant for pet lovers.  With this app you can track your pet's weight, glucose (if they have diabetes), homemade pet recipes and have reminders set for shots, heartworm meds and flea treatment.</p>
