@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>🐾 Pet Focus</h1>
        <br />
        <p class="lead">Helping pet parents take better care of their loved ones.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Check on your Pets</h2>
            <p>
                See all your pet information.
            </p>
            <p><button onclick="location.href='@Url.Action("Index", "Pet")';return false;">All Pets</button></p>
            @*<p><a class="btn btn-default" @Html.ActionLink("All Pets", "Index", "Pet")> </a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Weight</h2>
            <p>Track your furry friend's weight that includes a helpful graph.</p>
            <p><button onclick="location.href='@Url.Action("Index", "Weight")';return false;">Weight All Pets</button></p>
        </div>
        <div class="col-md-4">
            <h2>Reminders</h2>
            <p>Is it time for heartworm medication, a nail trim or flea prevention?  Double check the dates you last gave them.</p>
            <p><button onclick="location.href='@Url.Action("Index", "Reminder")';return false;">Reminders All Pets</button></p>
        </div>
    </div>

}


@if (!User.Identity.IsAuthenticated)
{
    <div class="container-carousel">
        <div class="carousel">
            <div class="carousel__face"><span class="carousel_words">Pet Focus is</span></div>
            <div class="carousel__face"><span class="carousel_words">Very special</span></div>
            <div class="carousel__face"><span class="carousel_words">Special is the key</span></div>
            <div class="carousel__face"><span class="carousel_words">For you</span></div>
            <div class="carousel__face"><span class="carousel_words">Just give it</span></div>
            <div class="carousel__face"><span class="carousel_words">A try</span></div>
            <div class="carousel__face"><span class="carousel_words">And see</span></div>
            <div class="carousel__face"><span class="carousel_words">How IT Works</span></div>
            <div class="carousel__face"><span class="carousel_words">Woow</span></div>
        </div>
    </div>

}